[2018-09-13 20:39] MartinNuc opened #3 "Publish package as @flowjs scoped package"
Currently I publish this package manually as [ngx-flow](https://www.npmjs.com/package/ngx-flow). We should move this under @flowjs npm account so its installed the same way as `@flowjs/flow.js`.

[2018-09-13 20:47] AidasK commented on #3
@flowjs/developers who has access to npm @flowjs?

[2018-09-13 20:49] AidasK commented on #3
@evilaliv3 ?

[2018-09-13 21:47] evilaliv3 commented on #3
Yep ywp

I just landed from a flight, will publish it as soon that I reach my place.

Will also see if I can share privileges of the account to more members of
the team

On Thu, Sep 13, 2018, 22:49 Aidas Klimas <notifications@github.com> wrote:

[2018-09-14 11:10] evilaliv3 commented on #3
Ok going to release it as 0.2.0 (that is the version already published here: https://www.npmjs.com/package/ngx-flow)

[2018-09-14 11:13] MartinNuc commented on #3
Let me release 0.3.0 on github this evening and let's release that one on npm, ok?

[2018-09-14 11:59] evilaliv3 commented on #3
Ok! i'm ready for it.

If useful @AidasK grant me access for commit here so that i can contribute.

@MartinNuc the following changes will be necessary to ```package.json```:
[code]

[2018-09-14 12:28] AidasK commented on #3
@evilaliv3 granted full access in all repos

[2018-09-14 12:39] MartinNuc commented on #3
@evilaliv3 When publishing Angular2+ lib the root project should not be published but just the built directory. Let me explain in depth.

The root project is a wrapping project where you can play with your library. However the source of the library is located in [projects/ngx-flow](https://github.com/flowjs/ngx-flow/tree/master/projects/ngx-flow) folder.

When building library using `npm run build

[2018-09-15 08:17] evilaliv3 opened #4 "Remove private:true from package.json in order to be able to publish the package publicly"
[code]

https://github.com/flowjs/ngx-flow/blob/b54e53dffc1f2be7f92b120d9ebed44834d8d6b9/package.json#L14

[2018-09-15 08:17] evilaliv3 commented on #4
@MartinNuc: in the meantime i've published the package anyhow by removing the line locally before publishing the package.

[2018-09-15 08:40] AidasK commented on #4
Yes, it was confusing for me too. I have never seen a project structured like that. Though maybe this is a thing for ngx projects? Is it recommended in ngx guide to structure the project like that?

[2018-09-15 09:55] MartinNuc commented on #4
This is actually [recommended structure](https://github.com/angular/angular-cli/wiki/stories-create-library) for Angular libraries by angular-cli. Although I find it also little bit confusion when one sees it the first time, I would prefer to stick to the angular-cli structure for these reasons:

1. compatibility with future updates of angular-cli
2. it's de facto standard for Angular libs right n

[2018-09-15 10:01] MartinNuc commented on #3
As mentioned in https://github.com/flowjs/ngx-flow/issues/4#issuecomment-421540876 the package name in `projects/ngx-flow/package.json` should be `@flowjs/ngx-flowjs`. I will make that change.

I looked at [AngularJS version](https://github.com/flowjs/ng-flow/blob/master/package.json#L2) its called `@flowjs/ng-flow`. Is there a reason to add `js` suffix? I would prefer to differentiate them only b

[2018-09-15 10:04] AidasK commented on #4
Good for me, I prefer to use recommended structure by Angular

[2018-09-15 14:02] evilaliv3 commented on #3
Correct to call it just @flowjs/ngx-flow @MartinNuc

[2018-09-15 15:09] MartinNuc commented on #3
@evilaliv3 ok, I modified lib's `package.json` and tagged [0.3.2](https://github.com/flowjs/ngx-flow/releases/tag/0.3.2). Can you please try to publish it on npm?

[2018-09-15 21:32] #4 closed

[2018-09-16 08:36] evilaliv3 commented on #3
There it is!

[2018-09-16 08:40] evilaliv3 commented on #3
https://www.npmjs.com/~flowjs

For clearness with respect to users probably we should unpublish:
- https://www.npmjs.com/package/ngx-flow
- https://www.npmjs.com/package/ngx-flow-demo

To do that @MartinNuc you should execute with your user:
```npm unpublish ngx-flow --force```
```npm unpublish ngx-flow-demo --force```

[2018-09-16 09:12] MartinNuc commented on #3
Thats a good point!

Unfortunately the process got more complicated :( https://blog.npmjs.org/post/141905368000/changes-to-npms-unpublish-policy

Therefore I deprecated the package and will contact npm support to remove it.

[2018-09-16 09:28] MartinNuc commented on #3
@evilaliv3 There is a problem with published files. Before publishing you should run `npm run build` then go to `dist/ngx-flow` and from this directory run `npm publish`.

When I try to use `ngx-flow` in a project as dependency this is how it looks now:

![screen shot 2018-09-16 at 11 23 30](https://user-images.githubusercontent.com/681176/45594919-439d7300-b9a3-11e8-82f4-ee97244dd250.png)

Howeve

[2018-09-17 06:58] evilaliv3 commented on #3
Ah! thanks for spotting this.

Yes from what i see on npm we are forced to make a dump of the versions.
I've removed the 0.3.2 but it do not accept it again.

Anyway before doing that i think we should first fix the build script:

It fails with:
[code]

would you like to check an let me know when i can publish it again?

[2018-09-17 08:47] MartinNuc commented on #3
We need a chat to solve this. Apparently cp doesn't work the same way as on my system :-( do you have a chat place? Like gitter or something? Or we can contact each other on Twitter. My handle is: martin_nuc

[2018-09-17 09:10] AidasK commented on #3
Maybe there is an option to add @MartinNuc and me to npm organisation?

[2018-09-18 14:00] evilaliv3 commented on #3
sure there is, would you please pass me both your nicknames?

This days i'm pretty busy and this way it result more easy for you to proceed directly. thank you!

[2018-09-18 15:39] MartinNuc commented on #3
[martin.nuc](https://www.npmjs.com/~martin.nuc)

[2018-09-19 05:46] weijyewang opened #6 "Demo is broken"
The demo example is not working

![image](https://user-images.githubusercontent.com/8890603/45733193-697c7f00-bc12-11e8-913f-c3b786dd745b.png)

[2018-09-19 08:08] MartinNuc commented on #6
It is because we are transfering the package from `ngx-flow` to `@flowjs/ngx-flow` See https://github.com/flowjs/ngx-flow/issues/3

Currently there is no way to install the package because the old `ngx-flow` was unpublished this morning and the new is not correctly published. I will try to ping @evilaliv3 about the progress.

[2018-09-19 08:09] MartinNuc commented on #3
@evilaliv3 the original `ngx-flow` was unpublished from npm. Currently there is no way to install this library. And we have a first issue about that: https://github.com/flowjs/ngx-flow/issues/6 :-(

[2018-09-20 14:26] evilaliv3 commented on #3
I'm sorry for the delay @MartinNuc

I just converted my user account to an organization and added you and @AidasK to it: https://www.npmjs.com/org/flowjs

You find inside an other user that i had to create to do this conversion: i now asked npm people to delete my duplicated account (marirossievil) because it seems they do not let users delete their own accounts :)

[2018-09-20 14:34] MartinNuc commented on #6
We managed to move package under @flowjs organization. I updated demo with new version. Now it should work.

[2018-09-20 14:34] #6 closed

[2018-09-20 14:35] MartinNuc commented on #3
Thanks. I was able to publish 0.3.3 and verify its working in [demo](https://stackblitz.com/edit/ngx-flow-example).

[2018-09-20 14:35] #3 closed

[2018-09-21 16:30] Pasquale85 opened #7 "Error in server side compilation"
ReferenceError: window is not define in flow.js.

[2018-09-25 07:06] padmarao123 opened #8 "how to give chunk size and other options"

[2018-09-25 10:11] padmarao123 commented on #8
[flowConfig]="{target: '/',chunkSize:10*1024*1024}"

[2018-09-25 10:11] #8 closed

[2018-10-06 15:52] MartinNuc commented on #7
@Pasquale85 Can you please try version 0.3.4? Also you will have to bump flowjs version:

[code]

[2018-10-06 15:53] MartinNuc commented on #7
Oh and one more change: https://github.com/flowjs/ngx-flow#running-with-server-side-rendering-angular-universal

[2018-10-08 10:27] MartinNuc commented on #7
Great to hear. Closing.

[2018-10-08 10:27] #7 closed

[2018-10-08 10:40] Pasquale85 commented on #7
Thanks so much!!

[2018-11-27 09:01] bmsekni opened #10 "flowConfig is undefined"
Hi,
I'm trying to setup my flow using a constant inside my component.
![image](https://user-images.githubusercontent.com/45198954/49070076-1f73d300-f22b-11e8-915e-f39f2366def6.png)
and
![image](https://user-images.githubusercontent.com/45198954/49070107-30244900-f22b-11e8-944d-6c7354f209e1.png)

i can see that my flow.flowConfig is undefined, is that normal ?

Link: https://stackblitz.com/edit/ngx

[2018-11-29 12:34] ToshihiroNozaki opened #11 "Directory drag and drop does not work"
Hi.
Directory D&D does not work in [demo site](https://stackblitz.com/edit/ngx-flow-example-iqognh)
Is Directory D&D supported by ngx-flow?

[2018-12-30 16:54] MartinNuc commented on #11
Directory upload is not in demo site but it's covered in [README](https://github.com/flowjs/ngx-flow#i-want-to-upload-whole-directory).

If it doesn't work we can reopen this issue.

[2018-12-30 16:54] #11 closed

[2018-12-30 17:03] MartinNuc commented on #10
The reason is because `flowConfig` is just a setter for input. It has no getter therefore you cannot print out its value.

If you really need to see what options are used for given directive you can use `flow.flowJs.opts`. This is the options property managed by flowjs itself.

[2019-01-02 00:17] #10 closed

[2019-01-10 20:33] Hasan-git opened #13 "add flowAttributes property to flowDrop"
is there any way to specify file attributes in case of flowDrop ?

where adding flowAttributes to flowDrop  directive its throwing an error :
" **Can't bind to 'flowAttributes' since it isn't a known property ..** "

[2019-01-11 00:21] MartinNuc commented on #13
flow's [assignDrop](https://github.com/flowjs/flow.js#methods) doesn't accept attributes therefore attributes are consumed only by `flowButton` directive.

If this will be implemented by original flowjs I will add it also here.

[2019-01-17 13:37] #13 closed

[2019-01-18 21:56] greatsayan opened #14 "Cannot read property 'events$' of undefined"
Hi,

Thanks for the plugin!!
I have an issue when I'm trying to subscribe to events$ from FlowDirective but I have this error:
**Cannot read property 'events$' of undefined.**
I can easily reproduce it in the demo(https://stackblitz.com/edit/ngx-flow-example). Just comment all the html part related to the Advanced example (from line 15 to the end) then the error should appear in the console.
How c

[2019-01-19 01:13] MartinNuc commented on #14
Hey,
you need a reference for `flow`

[code]

Notice `thisComesFromTemplate` string. Thats a reference for a template variable. For example:
[code]

Also remember to subscribe in `ngAfterViewInit` or after. I forked example: https://stackblitz.com/edit/ngx-flow-example-atxgjh

Hope it helps :-)

[2019-01-19 23:32] greatsayan commented on #14
Ho yes my bad, I forgot to implement the reference with ViewChild...
Thanks for your quick response!

[2019-01-19 23:32] #14 closed

[2019-02-18 13:40] pavankumarkatakam opened #15 "this.flowConstructor is not a constructor"
It is working on development (`./node_modules/.bin/ng serve`) but when I done production build (`./node_modules/.bin/ng build --prod`) then the error is coming as follows
![flowjs_prod](https://user-images.githubusercontent.com/6078669/52954532-7a434380-33b0-11e9-8fe6-c227fb3b2740.png)

 My package json file part

[code]

please help me on this issue.

[2019-02-20 06:18] pavankumarkatakam commented on #15
i update all angular dependencies to 7+ but still im getting the error.

[2019-02-20 07:32] pavankumarkatakam commented on #15
is anybody there

[2019-02-20 08:37] pavankumarkatakam commented on #15
Actaully this problem is stated in Readme file, under SSR problem but im not using ssr just `ng build --prod`.

[2019-02-20 08:53] pavankumarkatakam commented on #15
Anyway it is working now

[2019-02-26 12:37] aymen7 commented on #15
hi @pavankumarkatakam can you please tell me how did you solved this problem cuz I am facing the same issue right now
thank you

[2019-02-27 07:26] pavankumarkatakam commented on #15
You need to inject the token as Flow object in every module. Please check readme last section https://github.com/flowjs/ngx-flow#running-with-server-side-rendering-angular-universal

[2019-03-05 14:16] MartinNuc commented on #15
Sorry I dont receive a notification about new issues :-( I have to set it up somewhere.

When exactly does this happen? Can you provide stackblitz with the issue?

[2019-03-08 09:18] hioymaci commented on #15
Thank you so much. I added [that provider](https://github.com/flowjs/ngx-flow#running-with-server-side-rendering-angular-universal) to only AppModule then it works.

[2019-03-15 08:40] bmsekni opened #16 "Update to Angular 7"
Hi,

Any plans to update to NG 7 ?

[2019-03-15 10:13] MartinNuc commented on #16
Doesnt work with Angular7?

[2019-03-15 10:15] MartinNuc commented on #16
I see dependency is set to Angular 6. It should work just fine with 7. I will update dependency requirements.

[2019-03-17 21:40] MartinNuc commented on #15
I was able to reproduce the issue however I am not sure why this happens. I updated readme https://github.com/flowjs/ngx-flow#install

So please provide flow.js using injection token:

[code]

If you have any idea why [doing it in the library](https://github.com/flowjs/ngx-flow/blob/master/projects/ngx-flow/src/lib/ngx-flow.module.ts#L12) doesn't work in AOT, please let me know. We can discuss and

[2019-03-17 21:40] #15 closed

[2019-03-17 21:45] MartinNuc commented on #16
peerDependencies bumped to support Angular7. Try 0.3.5 please.

[2019-03-17 21:45] #16 closed

[2019-03-26 15:04] jalchr commented on #15
Hello @MartinNuc
I've followed your instructions, and updated to v0.3.5 but still getting this error when built for production with AOT.
Any tips for overcoming this error ?

[2019-03-26 15:40] MartinNuc commented on #15
@jalchr weird. I've just tried it again and worked for me.

Do you use lazy loaded modules?

Do you provide `FlowInjectionToken` in the root module?

For future release I change the code so `flow.js` is passed not through providers but through factory method (`forRoot`).

[2019-03-27 12:40] jalchr commented on #15
Yes, I use lazy loaded modules.

No, I'm providing it in each (currently 2) lazy-loaded module separately.

That would minimize ambiguity

[2019-03-28 06:49] jalchr commented on #15
Is there a workaround ?

[2019-03-28 09:15] jalchr commented on #15
mmm
I think I found the source of the problem.

![Flow_Wrong](https://user-images.githubusercontent.com/295421/55145035-a8a00580-514a-11e9-9380-a336416ad824.jpeg)

![Flow_correct](https://user-images.githubusercontent.com/295421/55145071-b9507b80-514a-11e9-8afb-f970e63538ab.jpeg)

[2019-03-28 09:21] MartinNuc commented on #15
`import Flow from '@flowjs/flow.js' ` should be definitely the correct one. Notice it's also in readme.

Can anyone confirm its the same issue?

[2019-04-30 08:16] Hasan-git opened #17 "how to add custom query"
I need a way to add custom query parameter for each file ?
I tried :
`file.flowObj.opts.query["id"] = '....'`
unfortunately, it updates all files query with the same query value

[2019-04-30 09:14] #17 closed

[2019-05-24 18:17] suriyagp opened #18 "Unable to get the uploaded response"
Once after the upload i need to get the response of the upload request to proceed further. that is available in the normal ng-flow but not in ngx-flow

[2019-05-31 16:00] greatsayan commented on #15
Hi,

I've followed your instructions, update packages, change the import also but still not working for me obviously...

I'm building my application using Webpack (without cli) maybe it's related...?

Any ideas?

Thanks

[2019-06-07 06:36] MartinNuc commented on #18
I will take a look into it.

[2019-06-07 06:51] MartinNuc commented on #18
@suriyagp can you please point me how do you do it with ng-flow or preferably with flow.js?

[2019-06-13 11:29] mykola-novytskyi commented on #15
When I used:
import Flow from '@flowjs/flow.js'
or
import {Flow}  from '@flowjs/flow.js'
I have the next error:
 Could not find a declaration file for module '@flowjs/flow.js'
'node_modules/@flowjs/flow.js/src/flow.js' implicitly has a
n 'any' type.
  Try `npm install @types/flowjs__flow.js` if it exists or add a new declaration (.d.ts) file containing `declare module '@flowjs/flow.js';`

When I u

[2019-06-15 10:45] MartinNuc commented on #15
I updated type definitions for flowjs in definitely typed. Also I am going to release a new version which uses these and also supports Angular 8 so feel free to try it out.

[2019-06-18 08:58] mykola-novytskyi commented on #15
Thanks, I have an error because of
"noImplicitAny": true,

in global tsconfig.json.
As temporary decision - i removed this property.

[2019-06-18 19:51] MartinNuc commented on #15
@mykola-novytskyi please try the new version. I changed something which could be related to your issue as well. Thanks.

[2019-06-18 21:59] greatsayan commented on #15
Thanks a lot!

I will try the new version soon!

[2019-06-24 07:53] mykola-novytskyi commented on #15
The issue is still here.
I have
    "@flowjs/flow.js": "^2.13.2",
    "@flowjs/ngx-flow": "^0.4.1",

And I added "noImplicitAny": true   to my tsconfig.json
I have the next error:
Could not find a declaration file for module '@flowjs/flow.js'. 'NgApp/node_modules/@flowjs/flow.js/src/flow.js' implicitly has an 'any'
 type.
  Try `npm install @types/flowjs__flow.js` if it exists or add a new declara

[2019-06-26 16:24] MartinNuc commented on #15
@mykola-novytskyi can you please create a new issue for this one? It doesn't seem to be related to the  ```this.flowConstructor is not a constructor```

I will take a look into it in next weeks.

[2019-06-28 15:20] tahir-jamil commented on #18
any updates

[2019-06-28 16:40] MartinNuc commented on #18
Point me please to docs how to do it using ng-flow or flow.js.

[2019-07-01 12:33] AlesWojnar opened #19 "Unsupported events: fileAdded, complete"
Ngx-flow does not support all Flow.js events (fileAdded, complete).

[2019-07-01 12:42] MartinNuc commented on #19
You're right. Looks like it's missing [here](https://github.com/flowjs/ngx-flow/blob/master/projects/ngx-flow/src/lib/flow.directive.ts#L60)

[2019-07-11 13:17] Pades9 opened #20 "Handle FlowDirective in ts file"
Hello,

for my case I would like to use ngx-flow only for upload so I don't want to init flow in ng-container. Is it possible to handle everything like adding files and events only in app.component.ts without html file? I tried to `flow: FlowDirective = new FlowDirective();` But there are two required parameters. Also I tried init Flow and this is working but how can I implement events? Thanks for

[2019-07-12 07:15] MartinNuc commented on #20
Hello, ngx-shell is a set of directives to be used in the template. If you want to use is only programatically in TS file you should use [flow.js](https://github.com/flowjs/flow.js) without `ngx-flow`.

[2019-07-12 07:15] #20 closed

[2019-08-07 14:03] hpwd commented on #18
i'm watching the fileError event and read the request message like this:

`    ngAfterViewInit() {

        this.autoUploadSubscription = this.flow.events$.subscribe(event => {

            if (event.type === 'filesSubmitted') {
                this.flow.upload();
            }

            if (event.type === 'fileError') {
                let response = JSON.parse( event.event[2].xhr.response );

[2019-08-07 14:04] hpwd commented on #19
Also need that :(

[2019-09-02 21:56] greatsayan commented on #15
Still have the issue too with the latest version. I'm using angular 8
Can you provide an example with Angular 8 please? The stackblitz you provide is using Angular 6.
Thanks.

[2019-09-04 19:38] MartinNuc commented on #15
@greatsayan there is no change with Angular 6->8. If you still have problem with this issue check whether you import `flowjs` correctly. If you put `debugger` to your module file you should be able to do something like `new Flow()` - when this doesn't work you import flowjs in a wrong way.

I created empty project just to try it out with the latest angular-cli and it seems to work fine: https://gi

[2019-09-04 20:00] MartinNuc commented on #19
Fixed in [0.4.2](https://github.com/flowjs/ngx-flow/releases/tag/0.4.2)

[2019-09-04 20:00] #19 closed

[2019-10-28 17:28] osmanraifgunes opened #21 "How to use assignBrowse"
In flow.js there are two methods to change view elements :

[code]

[Documentation ](https://github.com/flowjs/flow.js/blob/master/README.md#how-can-i-use-it)

Is there any implementation in ngx version.

[2019-10-28 20:13] MartinNuc commented on #21
There are two directives - one for drop and one for click. Checkout demo in docs https://github.com/flowjs/ngx-flow/blob/master/README.md

[2019-11-08 12:47] MartinNuc commented on #21
@osmanraifgunes did it help? Can I close the issue?

[2019-11-08 12:47] MartinNuc commented on #18
Closing this issue. Solved by @hpwd

[2019-11-08 12:47] #18 closed

[2019-11-14 06:55] osmanraifgunes commented on #21
Yes. Thank you.

[2019-11-14 07:22] #21 closed

[2019-12-04 16:31] ruisilva450 opened #23 "Failed to execute 'readAsDataURL' on 'FileReader': The object is already busy reading Blobs"
Hi,
I'm receiving the following error when trying to use the code from the [Demo](https://github.com/flowjs/ngx-flow#demo)

[code]

You can see a small repo of the issue [here](https://github.com/ruisilva450/ngx-flow-example)

[2019-12-08 17:07] cpi-rdesai opened #24 "TypeError: this.flowConstructor is not a constructor"
![image](https://user-images.githubusercontent.com/13028263/70392865-1440af00-1a0a-11ea-87bf-3f0d37a4d397.png)

Gettiing this error ,even after injecting provider as shown below

Providers:[{
      provide: FlowInjectionToken,
      useValue: Flow
}]
I have different feature module for an application being created as ng library and loaded as lazy.
i have a common component for upload, which will b

[2019-12-08 19:08] cpi-rdesai commented on #24
#15 Tried all possible solution from here

[2019-12-08 23:24] MartinNuc commented on #24
Where do you provide the FlowInjectionToken? In the core module?

[2019-12-09 04:36] cpi-rdesai commented on #24
I have tried several combination
Tried in root module and also in feature modules(lazy loaded) - dint work
Tried giving only in feature module and remove from root module - dint work
... etc

Can we have the forRoot method of dependency injection?, As stated in your previous issue #15 .
And even the typings "@types/flowjs" were not installed , had to separately install it.

[2019-12-13 15:41] GitXUser commented on #24
@MartinNuc ,Even I am facing same issue as mentioned by @cpi-rdesai , tried the above combinations mentioned and injecting FlowInjectionToken in core module. It seems to be issue only with AOT build . Do we have a fix or solution for this ?

[2019-12-13 15:44] MartinNuc commented on #24
No, I don't have. Imho you should provide flowjs lib through Angular dependency injection container and that's it. Core modules should be perfectly fine for that.

Do you have a repository with a project with this issue so I can take a look? It happens during the build, right? Not during debug, correct?

[2019-12-13 15:57] GitXUser commented on #24
@MartinNuc thanks for replying, this happens only when we try to run the deployed AOT build application, not while debugging or even not while running it locally. I'll share a demo version of this issue with you soon, as i'll have to create one considering compliance.

[2019-12-13 16:09] MartinNuc commented on #24
Thank you. I have a suspicion about not including the flowjs lib to the bundle after build. Let's see from the example repository. I will try to look into it.

[2019-12-14 13:19] cpi-rdesai commented on #24
@MartinNuc @GitXUser Added sample application code here
https://github.com/cpi-rdesai/FlowTest/upload

[2019-12-15 15:34] GitXUser commented on #24
I have made some changes in @cpi-rdesai  to run and replicate the AOT issue locally without deployment. @MartinNuc  Please have a look at https://github.com/GitXUser/IssueWithAOTBuildFlowJS . The Local build using ng serve works perfectly fine but when we try to run the application with ng serve --prod , error is encountered "this.flowconstructor is not a constructor" , the exact line of error is

[2019-12-17 05:35] GitXUser commented on #24
@MartinNuc  did you get chance to look at this ? Please let us know. We like stuck for more than a week trying to fix this issue .

[2019-12-17 07:14] MartinNuc commented on #24
Not yet. Finishing stuff in my job before Christmas 🙈 I expect to look into it next week on like Monday probably.

[2019-12-17 20:24] GitXUser commented on #24
I found the solution, below are couple of findings while fixing this :
1. I went through the sample application i.e flowjs/ngx-flow repository , it works perfectly fine with and without --prod flag.
2. The Flow lib is injected  App module by using useValue i.e
providers: [    {      provide: FlowInjectionToken,      useValue: Flow    } ]
this works fine with ^8.0.0 which is in this repo sample.
3.

[2019-12-18 06:28] cpi-rdesai commented on #24
@GitXUser Thank you for the solution

[2019-12-21 05:18] #24 closed

[2019-12-21 15:57] MartinNuc commented on #24
@GitXUser Thank you very much!

[2019-12-21 21:18] MartinNuc commented on #23
When does it happen also on demo page? Can you tell me steps to reproduce and in which browser does it happen?

[2019-12-26 20:48] ruisilva450 commented on #23
The code from my repo is straight from the demo code that's on ```src``` of this repo.

I realized that's not always that it happens, so I'm assuming it is something related with concurrency from parallel uploading of chunks

[2020-02-19 21:10] prachivachhani opened #27 "Could not find a declaration file for module '@flowjs/flow.js'"
I have
    "@flowjs/flow.js": "^2.14.0",
    "@flowjs/ngx-flow": "^0.4.3",
and
    "@angular/common": "^5.2.6",
    "@angular/compiler": "^5.2.6",
    "@angular/core": "^5.2.6",

and I have the following error:
Could not find a declaration file for module '@flowjs/flow.js'. 'NgApp/node_modules/@flowjs/flow.js/src/flow.js' implicitly has an 'any'
 type.
  Try `npm install @types/flowjs__flow.js` if

[2020-02-19 21:23] MartinNuc commented on #27
Not sure about type definitions for flowjs 2.14. In DefinitelyTyped there is only [2.13](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/efa34318e5397e3d99291e60c963ea5b70690842/types/flowjs/index.d.ts). We might need an update.

Can you please try with flowjs 2.13?

Also I am not sure about Angular 5. I think you need 8+.

[2020-02-20 15:31] prachivachhani commented on #27
No, I tried using 2.13 as well but that didn't work. For now, it seems if I remove this line :     "noImplicitAny": true,  from tsconfig file...  it's working fine.

[2020-02-20 18:13] #27 closed

[2020-04-12 15:03] wandri opened #29 "Improvement - update to angular 9"
Hello,
With angular 9 comes Ivy by default.

**ngx-flow works already well with angular 9.1.0** but I have noticed that there is some slight improvements with the build of the package with angular 9.

Is there a plan to migrate to the last version ? 9.1 ?

What I have tried :

- `ng update` does the job.

- some changes can be done in the new created file `projects/ngx-flow/tsconfig.lib.prod.json`

[2020-04-13 10:24] #29 closed

[2020-04-13 10:51] MartinNuc commented on #29
@wandri I haven't looked into Angular 9 yet 🙈 but I am open to PR's so if you manage to make a PR I will test it and we can make use of your tips

[2020-04-20 12:41] briangullo opened #31 "Best way to restrict number of files."
Hello,

I'm working with the requirement to restrict the number of files that can be uploaded.  For example, the user should only be able to select a maximum of 10 files to be uploaded.

So far I've tried two different ways:

First via `FilesAdded` Event

[code]
This has no impacted on the `event.event[0]` once it gets to the `filessubmitted` event.  I am not even sure how to properly stop the fil

[2020-04-20 15:08] MartinNuc commented on #31
Hi,
I think it would be easier to cancel those files over the limit when they are being added:

[code]

[2020-04-21 18:16] briangullo commented on #31
Hi MartinNuc,  sigh... I dont' know why I overlooked `cancel()`.  Yes, using `cancel()` greatly simplified my code, and cleared up the forms error I was receiving.  What ever `cancel()` is doing under the hood, it is keeping all the collections (queue & transfers$) in sync like it should.  Thanks again.

[2020-04-21 18:16] #31 closed

[2020-06-09 13:29] MaximRobota opened #33 "flow-drag-enter for Angular"
I didn't find opportunity to drug-drop active. I would add class `.active` when I'm dropping file in the area.

Do you have for Angular solution like in AngularJs?
Ex:
Use flow-drag-enter directive:

[code]

[2020-06-09 13:43] MartinNuc commented on #33
That's a great point! There is currently nothing for this behaviour and it would be great addition!

I think it should be quite easy to implement. [Here](https://github.com/flowjs/ng-flow/blob/master/src/directives/drag-events.js) is the source of drag-events directives in ng-flow Actually it could be a directive which has nothing to do with `ngx-flow`.

[2020-06-09 13:49] MaximRobota commented on #33
Thanks for the quick response. I think this will be a very good addition, since many use your plugin! Thank you for your work!

[2020-06-18 04:40] tahir-jamil opened #34 "Can we add compressFile support to this plugin?"
is it possible to have compressFile with current functionality?

[2020-06-25 14:34] osmanraifgunes commented on #15
This solved my problem : https://stackoverflow.com/questions/36795819/when-should-i-use-curly-braces-for-es6-import

[2020-06-30 13:03] tahir-jamil commented on #23
Any update?

[2020-06-30 15:25] MartinNuc commented on #23
Nah, had no time for it :-/

[2020-07-07 03:55] MartinNuc commented on #34
Please try searching flowjs repo regarding compression. Ngx-flow is just a wrapper.

I found there is preprocess event which could be helpful for you: https://github.com/flowjs/flow.js/issues/9

[2020-07-09 20:26] #34 closed

[2020-07-31 17:34] begust opened #38 "Reject event 'fileAdded'"
In flow.js I can 'return false' to reject a file.  that does not seem to work here.

How do I reject a file from the fileAdded event?

[2020-07-31 19:47] begust commented on #17
I'm trying to use this solution.  I have a similar problem. but when this event fires 'this' is null.  I do not have access back to my local variables.  any suggestions?

[2020-07-31 20:24] begust opened #39 "query: callback - this is null"
I am using the 'query' configuration option, the call back is working correctly but the local variable 'this' is null.
I have no access back to my components local variables.
any suggestions?

[2020-07-31 20:24] MartinNuc commented on #17
@begust use arrow function:

[code]

[2020-07-31 20:26] MartinNuc commented on #39
I answered in the original thread https://github.com/flowjs/ngx-flow/issues/17#issuecomment-667341371

[2020-07-31 20:26] #39 closed

[2020-07-31 21:04] begust commented on #17
Thank you.  works perfect.

[2020-08-01 10:50] MartinNuc commented on #38
Interesting I didn't know about that feature!

This is indeed not possible in ngx-flow :-(

So far I came up with this kinda hacky solution which works:

[code]

[2020-08-03 12:51] begust commented on #38
Thank you for your response.   i will give you solution a try.
if fileadded can not return a value, can filesAdded be used by canceling each file?
I will test.

[2020-08-03 16:25] begust commented on #38
I thank you greatly for your input.  I have decided to implement the following code:
            switch (event.type) {
                case 'fileAdded':
                    var file: flowjs.FlowFile = event.event[0] as flowjs.FlowFile;
                    if (file.file.size === 0) {
                        file.error = true;
                    }
                    return;
                case 'f

[2020-08-03 16:25] #38 closed

[2020-11-03 19:56] MaximRobota opened #42 "Drag and Drop - Restrict deleting the email dragged from outlook"
STR:

Go to outlook client
Drag and drop email  from outlook into Documents
Email is deleted in outlook.
This is apparently a issue in chrome. Please see the below solution options to the issue.
https://bugs.chromium.org/p/chromium/issues/detail?id=322605

Solution:
https://answers.microsoft.com/en-us/msoffice/forum/all/drag-and-drop-works-however-deletes-email-can-we/865f60c3-7980-4465-8a19-4d60b

[2020-11-30 16:50] MaximRobota opened #43 "Does file uploading work in Iphone?"
Could you check the work of downloading files from the Iphone device? It does not work for me

[2020-11-30 16:58] #43 closed

[2020-12-16 15:43] Coly010 opened #44 "[BUG] Attaching [flow] and [flowAttributes] rendering multiple dialogs"
The following causes the file picker dialog to render multiple times:

[code]

My guess is that it's because `setup` is being called for every input set, attaching multiple listeners to the host component of the directive.

![image](https://user-images.githubusercontent.com/12140467/102370695-438ee200-3fb5-11eb-808e-6ecca5ddaeb5.png)

[2020-12-16 17:42] vortaxg commented on #44
I had the same issue,
try to update input params order.

 <button
        flowButton
        **[flowAttributes]="{accept: 'application/zip'}"
        [flow]="flow.flowJs"**

        Upload File
    </button>

[2020-12-17 10:34] Coly010 commented on #44
As crazy as that solution is, it worked.

Whilst it _does_ work, I 100% think this should still be an issue to be resolved. input order _shouldn't_ matter.

@vortaxg Thanks for the help!!

[2020-12-17 19:26] MartinNuc commented on #44
Definitely a bug! Thanks for pointing that out.

Can you please help me reproducing it? Both Chrome and Safari is showing the dialog only once. Where does it happen?

[2020-12-17 19:29] MartinNuc commented on #42
This is issue in `flowjs` itself. Needs to modify events here: https://github.com/flowjs/flow.js/blob/e83d2d9d72d0b4f96f34b508fd7d734f36075be2/src/flow.js#L439-L440

Please create this issue in [flowjs](https://github.com/flowjs/flow.js) repository.

[2020-12-17 19:29] #42 closed

[2020-12-20 21:21] MaximRobota commented on #42
Thanks

[2020-12-25 07:54] hioymaci opened #45 "Using with Angular 11"
I know that ngx-flow is used Angular 8 and below. But how can I use it with v11. Is there any quick way or all library should be implemented for v11?

[2020-12-25 07:57] MartinNuc commented on #45
It's compatible with Angular 8+. I am not aware of any issues with newer versions of Angular. Have you tried it with Angular 11?

[2020-12-25 08:03] hioymaci commented on #45
I tried with Angular 11 but it doesn't run. Actually, I used to ngx-flow Angular v7. Then I updated my project to v9. There is no problem with ngx-flow. But after I want to update v10 "ng update" doesn't permit. I forced to 11 then I upload mechanism crashed:  something like that: flowjs object doesn't have flow field. Sorry I don't have a lot of experience with Angular.

[2020-12-25 08:18] MartinNuc commented on #45
I will have to try it out then.

[2020-12-25 09:30] hioymaci commented on #45
Thank you Mr. Martin. After your answer I tried again to update angular but this time I updated step by step.
Ngx-flow runs properly with

- Angular v7,
- Angular v8,
- Angular v9,
- Angular v10,

in my application.

I do not know where was the problem. But after I updated from v7 to v11 it crashed. So I updated v8 then v9 then v10.

v10 is also enough for me. Thank you so much again.

[2020-12-25 09:30] #45 closed

[2021-01-18 15:05] santer545 opened #47 "Client validations"
Can I set the file size, file count and file extensions for Drag and drop? I didn`t see any option to validate adding files

[2021-01-18 15:49] MartinNuc commented on #47
This is good point. I looked how is validation handled in flow.js and one have to return false from `fileAdded` event. This one is wrapped by ngx-flow means there is no way how to return false there 🙈

What you could do however is enable button only after all fails are valid:

[code]

[code]

However we should have way how to use `fileAdded` event because that would be easier to use.

[2021-01-18 16:06] santer545 commented on #47
Thanks!

[2021-01-25 16:56] begust opened #48 "dependencies."
ngx-flow dependencies are limited to angular 8.

Can these be updated to a newer version of angular.

Currently I am building with angular 10.0

Brad

[2021-01-25 16:59] MartinNuc commented on #48
It's [peer dependency](https://github.com/flowjs/ngx-flow/blob/master/projects/ngx-flow/package.json). Is it an issue?

You can make PR to bump it to newer version if you want.

[2021-02-02 23:10] MartinNuc commented on #48
Released 0.4.6

Please let me know if it works fine now 🙏

[2021-02-03 15:52] begust commented on #48
Thank you. This works for me.

[2021-02-03 19:50] #48 closed

[2021-05-02 15:18] hioymaci opened #53 "Three times complete events fired."
If I canceled file upload with this: `this.flow.cancel();`, event:{type:'complete'} fires 3 times. Look the below picture.

![three_completed](https://user-images.githubusercontent.com/15131951/116818128-6390fd80-ab72-11eb-8dce-c543f793ea98.png)

I send an API request to server after file completed to check in server. But due to 3 times fires, it sends 3 requests. How can I fixed this problem? Is

[2021-06-19 06:19] erkinyldz opened #60 "Support for Angular 12"
Latest version does not support Angular 12 which results in dependency conflicts for ngx-flow when updating to Angular 12.

[2021-07-29 12:17] LoganWlv commented on #60
I guess this is about to be fixed with https://github.com/flowjs/ngx-flow/commit/6913836fb5f2e94b45903479b3e12914fb2bb7a4

Though it breaks on travis, maybe we should use the latest stable of yarn (v1.22.11) instead of v1.3.2 @MartinNuc ?

[2021-09-15 13:37] drzraf opened #70 "Flow.js v3"
@MartinNuc : Did you considered flow.js v3 ?
`async` helpers are the major feature. But event names (from camelCase to snake-case) is the major compatibility breakage which keeps ngx-flow from working with flow v3 out of the box.

[2021-11-18 10:43] Godstrump commented on #10
I have the same issue. Here my
`[flowConfig]="{ target: 'http://localhost:3333/document' }`
does not reach the document controller.
`

[2022-01-17 16:39] #47 closed

[2022-01-20 15:17] Mahesh-Kumar-N commented on #53
file submitted event too triggers multiple times, any update on this issue

[2022-01-21 09:44] swieczorek-fis-sst commented on #60
same here

[2022-02-09 15:56] dango85 commented on #60
any plans of pushing out angular v12 compatible version?

[2022-02-11 01:03] edWhoShouldBeWorking commented on #60
What's the best way to help with this?

[2022-02-13 13:21] touchsky2018 opened #81 "can not find @flowjs/flow.js declaration"
anyone know how to resolve this.

import Flow from '@flowjs/flow.js';

S7016: Could not find a declaration file for module '@flowjs/flow.js'. 'xxxxxxxx/node_modules/@flowjs/flow.js/src/flow.js' implicitly has an 'any' type.
  Try `npm i --save-dev @types/flowjs__flow.js` if it exists or add a new declaration (.d.ts) file containing `declare module '@flowjs/flow.js';`

21 import Flow from '@flowjs/

[2022-02-13 13:56] touchsky2018 commented on #27
@prachivachhani

I have same problem in angular13, and no "noImplicitAny": true, but still not work for me.
any other way to resolve it

[2022-04-06 19:16] RoyceTheBiker commented on #60
One more developer here that would like to see support under ng12

[2022-04-07 07:55] AidasK commented on #60
https://github.com/flowjs/ngx-flow/pull/86 related

[2022-04-30 13:42] itsaplev commented on #60
ngx-flow v0.5.0 with angular 12 support is available

[2022-04-30 13:42] #60 closed

[2022-05-31 15:23] sebastiencl opened #90 "Cannot find namespace 'flowjs'."
Hi all,

I'm currently facing an issue.
I'm running an Angular 13 app with ngx-flow 0.5.0.

When i try to build my app, I have several error messages:

[code]

Any ideas ?

[2022-05-31 15:41] sebastiencl commented on #90
I fixed my issue

`npm install --save @types/flowjs`

[2022-05-31 15:41] #90 closed

[2022-06-26 23:05] akeresztesgh commented on #81
I installed the suggested type file: "npm i --save-dev @types/flowjs__flow.js"
Then, in my app module, I changed the flow import to:
import * as Flow from '@flowjs/flow.js';

then it worked.

[2022-07-01 15:55] akeresztesgh commented on #23
`    <div>
      <img [flowSrc]="transfer">
    </div>
`

it appears that this is what is causing the issue.  remove these lines, and it works fine.

[2022-10-11 07:15] RoyceTheBiker commented on #60
Thank you for your work to get support for Ng12.

How long before the module is updated on npmjs.com?

On Sat., Apr. 30, 2022, 07:43 Igor Tsaplev, ***@***.***>
wrote:

[2022-11-27 11:30] sukantoghsh opened #97 "Latest version does not support Angular 15 which results in dependency conflicts for ngx-flow when updating to Angular 15."
What would be the best approach to solve this ?